.menu{
	width:600px;
	height:350px;
	margin:20px auto;
	}
	
.caixa_login{
	width:500px;
	height:350px;
	margin:20px auto;
	}
	
.table{
	width:500px;
	height:350px;
	margin:20px auto;
	}

